* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #3c36b8;
}

.card {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease-in-out;
}

img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    
}
.card:hover {
    transform: scale(1.05);
}